body {

    background: #FFB830;
    padding: 0;
    margin: 0;
    position: relative;

}
img.img1 {
    width: 95px;
    height: 95px;
    margin: 100px auto;
    position: relative;
    color: #FFEDDA;
    top: 50%;
    transform: translateY(113%)
}
.intro {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    color: #FFEDDA;
    top: 50%;
    transform: translateY(-10%)
    
}
h1 {
    line-height: 0px;
    letter-spacing: 2px;
    font-style: italic;
}
h3 {
    letter-spacing: 11px;
    font-style: normal;
    font-size: 12px;
}
