body {
    margin:0;
    padding:0;
    height: 100%;
}
a{
    color: black;
}
#header {
    background-color: #3F0071;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 200%;
    height: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}
p {
    line-height: 10px;;
    font-size: 10px;
    color: red;
}
.container {
    position: center;
    padding-left:25px;
    margin-left: 75px;
}
.btn1 {
    margin: 2px;
    border-radius: 2px;
    background-color: #7C83FD;
}

h1 {
    margin-left: 50px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-weight: 500;

}
#Demographic{
    position: relative;
    background-color: #FDFCE5;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    padding-top: 10px;
    line-height: 60px;
}
table , h3 , p{
    margin-left: 100px;
}
