body {
    margin:0;
    padding:0;
    position: absolute;
}
#header {
    position: static;
    float: top;
    background-color: #3F0071;
    font-family:Arial, Helvetica, sans-serif;
    width: 1700px;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
p {
    line-height: 10px;;
    font-size: 10px;
    color: red;
}
.container {
    padding-left:25px;
    margin: 5px 5px;
    margin-left: 10px;
}
.btn1 {
    border-radius: 2px;
    border-color: white;
    background-color: tomato;
}
h1 {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-weight: 500;

}
#Demographic{
    position: relative;
    padding: 100px;
    background-color: #FDFCE5;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    line-height: 60px;
}
