body {
    position: relative;
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
}
#Title {
    position: static;
    background-image: url('pizza.jpg');
    background-repeat: no-repeat;
    background-size: fiil;
    width:100%;
    height: 300px;
    float: top;
    padding-top: 50px;
    padding-left: 50px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 50px;
    font-size: 100px;
    letter-spacing: 12px;
    line-height: 0px;
    color: #fff;
    position: relative;
}
h3.title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-left: 2px;
    letter-spacing: 16px;
    color: #fff;
}
.container {
    display: flex;
    min-height: 10vh;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1 {
    width: 290px;
    height: 50px;
    background-color: transparent;
    justify-content: space-evenly;
    color: #fff;
    border-radius: 10px;
    transition: ease-out 0.3s;
    font-size: 20px;
    letter-spacing: 3px;
    outline: none;
    margin: 10px;
    border: 2px solid #ffff;
    position: relative;
    z-index:1;
}
.btn1:hover {
    color: #fff;
    cursor: pointer;
}
.btn1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #FFB319;
}
.btn1:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.media {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
}
.media li {
    padding-left: 50px;
    flex-direction: column;
    margin: 0 20px;
}
.media a {
    text-decoration: none;
    color: #ffff;
}
.media a i{
    font-size: 20px;
}
.media a:hover i{
    color: #FFB830;
}
#Menu  section{
    display: block;
}
#Menu{
    padding: 2% 6%;
}
#Menu .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
#Menu h1 {
    color: #000;
    text-align: center;
    position: relative;
    font-size: 50px;
}
#Menu .item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}
#Menu .item:hover {
    cursor: pointer;
    background-color: #FFB830;
    background-blend-mode: screen;
}
.name .img {
    flex-basis: 50%;
}
.name {
    text-align: center;
    padding: 10px;
}
.name h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.name p {
    line-height: 1.7;
    margin-bottom: 20px;
}
.name strong {
    font-size: 20px;;
}


#Branches section{
    display: block;
}
#Branches{
    padding: 2% 6%;
}
#Branches .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
#Branches h1 {
    color: #000;
    text-align: center;
    position: relative;
    font-size: 50px;
}
#Branches .branch {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}
#Branches .branch:hover {
    cursor: pointer;
    background-color: #FFB830;
    background-blend-mode: screen;
}
.namebr .img {
    flex-basis: 50%;
}
.namebr {
    text-align: center;
    padding: 10px;
}
.namebr h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.namebr p {
    line-height: 1.7;
    margin-bottom: 20px;
}
.namebr strong {
    font-size: 20px;;
}
.branch img {
    width: 300px ;
    height: 300px;
}